<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-lg-12">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="center">
                        <div>
                            <h6 class="m-0 font-weight-bold text-primary">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-ticket-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Open Tickets</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div>
                        <a class="hover_line " href="index.php?action=newticket">
                            <button type="button" class="btn btn-primary"><i class="fas fa-plus-square"></i>&nbsp;New
                                Private
                                Ticket</button>
                        </a>
                    </div>
                  <br>
                    <div>
                        <!-- TICKET AREA -->
                        {TICKET_LIST}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>