<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <!-- Begin Page Content -->
    
            <!-- ___________________________________________ -->
            <!-- ___________________________________________ -->
            <!-- ___________________________________________ -->

            <div class="col-lg-12">
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <h6 class="m-0 font-weight-bold text-primary">Closed Tickets</h6>
                            <h6>&nbsp;&nbsp;<a><i class="hover fas fa-cog"></i></a></h6>
                        </div>
                    </div>
                    <div class="card-body">
                        
                            
                        {TICKET_LIST}
                        


                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        
    </div>
</div>