<!-- Begin Page Content -->
<div class="container-fluid ">
        <div class="col-lg-12">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row center">
                        <h6 class="m-0 font-weight-bold text-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-share-alt-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;New Shared Ticket</h6>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="card-body py-3">
                   Needs shared groups
                </div>
            </div>
        </div>
    </div>