<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-lg-12">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="center">
                        <div>
                            <h6 class="m-0 font-weight-bold text-primary">New Member for: <b>{GROUP_NAME}</b></h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {NEW_MEMBER_FOUND_DEFAULT_CODE}
                  <br>                  
                    <!-- TICKET AREA -->
                   
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>