<!-- Begin Page Content -->
<div class="container-fluid ">

    <!-- ___________________________________________ -->
    <!-- ___________________________________________ -->
    <!-- ___________________________________________ -->

    <div class="col-lg-12">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row"><h6 class="m-0 font-weight-bold text-primary">New Ticket</h6></div>
            </div>


            <div class="card-header py-3">
                <div class="div_add_form">
                    <form action="index.php?action=addTicket" method="post" class="form-example">


                        <div class="new_post_title form-example">
                            <label> REQUESTER: </label>
                            <input type="text" name="Requester" id="Requester" required>
                        </div>

                        <div class="new_post_title form-example">
                            <label>NEW TICKET TITLE: </label>
                            <input type="text" name="Title" id="Title" required>
                        </div>
                        <div class="form-example">
                            <label>DESCRIPTION: </label>
                            <div class="input_text"><textarea id="textarea_id" name="Description"></textarea></div>
                            <!-- <input type="text" name="Contenu" id="Contenu" required> -->
                        </div>
                        <div class="form-example">
                            <input type="submit" class="btn btn-primary btn-sm" value="Create Ticket">
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->


</div>
