<div class="">

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <!--{MESSAGEALERT}-->
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>
                                <form class="main_register_container" action="index.php?action=registernewuser"
                                      method="post">





                                    <div class="register_bloc">
                                        <div>
                                            <div class="div_credentials">

                                                <div class="credentials_input">
                                                    <!--name: prenom -->
                                                    <input type="text" placeholder="First Name" name="firstname" required></div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="div_credentials">

                                            <div class="credentials_input">
                                                
                                                <input type="text" placeholder="Last Name" name="lastname" required></div>
                                        </div>
                                        <br>
                                        <div class="div_credentials">

                                            <div class="credentials_input">
                                                
                                                <input type="email" placeholder="Email" name="email" required></div>
                                        </div>

                                        <hr>
                                        <div class="div_credentials">

                                            <div class="credentials_input">
                                                
                                                <input type="text" placeholder="Country" name="country" required></div>
                                        </div>
                                        <!-- 
                                        <br>
                                        <div class="div_credentials">

                                            <div class="credentials_input">
                                                
                                                <input type="text" placeholder="Company" name="company" required></div>
                                        </div>
                                        -->

                                        <hr>
                                        <fieldset>
                                            <div class="div_credentials">

                                                <div class="credentials_input">
                                                    
                                                    <input type="password" placeholder="Password" id="password" name="psw" required></div>
                                            </div>
                                            <br>
                                            <div class="div_credentials">
                                               
                                                <div class="credentials_input">
                                                    
                                                    <input type="password" placeholder="Confirmer Password" id="confirm_password"
                                                           name="psw-repeat" required></div>
                                            </div>

                                        </fieldset>
                                        <hr>

                                        <p>En se registrant sur ce site vous acceptez la Politique de Confidentialité: <a
                                                href="index.php?action=politique">Politique de Confidentialité</a>.</p>
                                        <button class="alert alert-info registerbtn" type="submit">S'enregistrer</button>
                                    </div>




                                </form>


                                <!-- Local Javascript -->
                                <script type="text/javascript" src="../public/js/validatePassword.js"></script>

                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="index.php?action=login">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Local Javascript -->
<script type="text/javascript" src="../public/js/validatePassword.js"></script>