<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-lg-12">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="center">
                        <div>
                            <h6 class="m-0 font-weight-bold text-primary">Shared Closed Groups</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                   
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-10  center">

                        </div>
                        <div class="col-lg-1 row center">
                        </div>
                        <div class="col-lg-1 row center">
                        </div>
                    </div>

                  <!-- Group AREA -->
                  <div class="center row">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="col">Group Name</th>
                                    <th scope="col">Admin Contact</th>
                                </tr>
                                {GROUP_LIST}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
</div>