.initial {
    all: initial;
}

.center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: center;
    vertical-align: middle;
}

.hover_line:hover {
    background-color: rgba(18, 135, 176, 0.31);
}



.hover:hover {
    background-color: rgba(18, 135, 176, 0.31);
}

.ticket_line {
    margin: 2px;
    border-radius: 5px;
    background-color: rgba(241, 14, 184, 0.19);
}

.ticket_line_warning {
    margin: 2px;
    border-radius: 5px;
    background-color: rgba(185, 205, 241, 0.19);
}

.ticket_line_warning:hover {
  
    background-color: rgba(93, 148, 250, 0.19);
}

.vl {
    border-left: 6px solid rgb(0, 45, 128);
    height: 50px;
}



.ticket_icones {
    text-align: right;
}

.description_textarea {
    width: 100%;
    height: 300px;
}

#textarea_id {
    margin-top: 10px;
    width: 100%;
    height: 200px;
}


.width_50px {
    width: 50px;
}

.width_100px {
    width: 100px;
}
.width_200px {
    width: 200px;
}

.width_300px {
    width: 300px;
}

.card-header {
    padding: 5px;
}

.modal_text_left {
    margin-left: 20px;
}

.modal-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal_requester {
    margin-top: 10px;
    margin-left: 18px;    
}

.button_close {
    margin-right: 5px;;
}