<!-- START TICKET CODE -->
<div class="col-md-12 ticket_line_warning hover row center">

    <div class="col-md-10"> 
        <span class="font-weight-bold">{GROUP_NAME}</span>
    </div>

    <div class="col-md-2 ticket_icones">

        <a class="btn btn-primary btn-sm " href="index.php?action=newticket" style="color: white;" data-toggle="popover"
            title="Create Ticket" data-content="data-content"><i class="fas fa-ticket-alt"></i><sup><i
                    class="fas fa-plus-square"></i></sup>
        </a>
        <a class="btn btn-primary btn-sm " href="index.php?action=groupmembers&group_name={GROUP_NAME}"
            style="color: white;" data-toggle="popover" title="Members" data-content="data-content"><i class="fas fa-user-friends"></i><sup><i
                class="fas fa-share-alt-square"></i></sup>
        </a>
        <a class="btn btn-primary btn-sm " href="index.php?action=closegroup&group_id={GROUP_ID}" style="color: white;"
            data-toggle="popover" title="Close this Group" data-content="data-content"
            onclick="return(confirm('Are you sure? This will close all tickets in the group.'));"><i class="fas fa-window-close"></i>
        </a>

    </div>
</div>