<!-- START TICKET CODE -->
<div class="ticket_line_warning hover row center">

    <div class="col-md-2">
        Date: {invitation_date}&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-md-2">
        Group: {invitation_for_group_name}&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <div class="col-md-2">
        From: {invitation_from}
    </div>
    <div class="col-md-6 text-right">
        <a href="index.php?action=acceptinvitation&invitationid={INVITATION_ID}"><button type="button" class="btn btn-success">Accept</button></a>
        <a href="index.php?action=deletereceivedinvitation&invitationid={INVITATION_ID}"><button type="button" class="btn btn-danger">Delete</button></a>
    </div>
</div>