<!-- START TICKET CODE -->
<div class="ticket_line_warning  center">



    <form action="index.php?action=registerInvitation" method="post" class="col-md-12">
        <div class="row center">

            <div class="col-md-6">
                <input class="" type="text" name="group_name" id="group_name" value="{GROUP_NAME}" hidden>
                <input class="" type="text" name="email" id="email" value="{NEW_MEMBER_EMAIL}" hidden>
                <div> {NEW_MEMBER_EMAIL}</div>
            </div>

            <div class="col-md-6 text-right">
                <input type="submit" class="btn btn-primary" value="Send Invitation">
            </div>

        </div>
    </form>



</div>