<!-- START TICKET CODE -->
<div class="ticket_line_warning hover row center">
    <div class="col-lg-10 center row">
        <div class="width_50px">
            <span data-toggle="popover" title="More Details" data-content="data-content">
                <i class=" text-info text-sm-center"></i>&nbsp;
                <button class="btn btn-sm hover" type="button" data-toggle="collapse"
                    data-target="#collapseTicket{TICKET_ID}" aria-expanded="false"
                    aria-controls="collapseTicket{TICKET_ID}">
                    <i class="fas fa-search"></i></i>
                </button>
            </span>
        </div>
        <div class="width_50px ">
            <span data-toggle="popover" title="Ticket ID" data-content="data-content">
                <i class="fas fa-user-friends text-info text-sm-center"></i></span>
        </div>
        <div class="width_200px">
            <span data-toggle="popover" title="Ticket ID" data-content="data-content">
                &nbsp;{TICKET_GROUP}</span>
        </div>
        <div class="">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span data-toggle="popover" title="Requester" data-content="data-content"><i
                    class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;{REQUESTER_NAME}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div> <span class="font-weight-bold">{TICKET_TITLE}</span>
        </div>
    </div>
    <div class="ticket_icones col-lg-2 mr-0 pr-0">
        <!-- Trigger modal -->
        <a class="btn btn-primary  btn-sm " data-toggle="modal" data-target="#exampleModal{TICKET_ID}"
            title="User Interventions" data-content="data-content" href=""><i class="fas fa-history "></i><sup><i
                    class="fas fa-users"></i></sup></a>
        <a class="btn btn-primary  btn-sm " data-toggle="modal" data-target="#exampleFileUpload{TICKET_ID}"
            title="File Upload" data-content="data-content" href=""><i class="fas fa-paperclip"></i><sup><i
                    class="fas fa-plus-square"></i></sup></a>
        <a class="btn btn-primary btn-sm " href="index.php?action=closeticket&ticket_id={TICKET_ID}"
            style="color: white;" data-toggle="popover" title="Close this Ticket" data-content="data-content"
            onclick="return(confirm('Etes-vous sûr de vouloir fermer ce ticket?'));"><i class="fas fa-window-close"></i>
        </a>
        <a class="btn btn-info  btn-sm " data-toggle="popover" title="Ticket Details" data-content="data-content"
            href="index.php?action=ticketdetails&ticket_id={TICKET_ID}"><i class="fas fa-ellipsis-h"></i></a>
    </div>
    <div>
        <!-- Modal - Description-->
        <div class="modal fade" id="exampleModal{TICKET_ID}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{TICKET_TITLE}</h5>
                        <button type="button" class="close button_close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal_requester">
                        <span data-toggle="popover" title="Requester" data-content="data-content"><i
                                class="fas fa-user"></i>&nbsp;{REQUESTER_NAME}</span>
                    </div>
                    <!-- NEW INTERVENTION TEXT AREA-->
                    <div class="modal-body">
                        <div class="card-header">

                            <div class="div_add_form">
                                <form action="index.php?action=addTicketIntervention" method="post"
                                    class="form-example">
                                    <input type="text" name="ticket_id" id="Ticket_Id" value="{TICKET_ID}" hidden>
                                    <div>
                                        <div class="text-left row">
                                            <div class="modal_text_left">
                                                New Intervention:
                                            </div>
                                        </div>
                                        <div class="input_text"><textarea id="textarea_id"
                                                name="intervention_description" required></textarea>
                                        </div>
                                        <!-- <input type="text" name="Contenu" id="Contenu" required> -->
                                    </div>
                                    <div class="form-example">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Save Intervention">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- INTERVENTION CARD-->
                    {INTERVENTION_CARD}
                    <br>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Modal Description-->

        <!-- Modal - File Upload-->
        <div class="modal fade" id="exampleFileUpload{TICKET_ID}" tabindex="-1" role="dialog"
            aria-labelledby="exampleFileUpload" aria-hidden="true">

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">File Upload for - {TICKET_TITLE}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="index.php?action=fileupload" method="POST" enctype="multipart/form-data">
                        <input type="text" name="ticket_id" id="Ticket_Id" value="{TICKET_ID}" hidden>
                        <input type="file" name="image" />
                        <input type="submit" />
                        <ul>
                            <li>Sent file: <?php echo $_FILES['image']['name'];  ?>
                            <li>File size: <?php echo $_FILES['image']['size'];  ?>
                            <li>File type: <?php echo $_FILES['image']['type'] ?>
                        </ul>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Modal -->
    </div>
</div>

<div class="collapse mb-5 ml-2 mr-2 mt-2" id="collapseTicket{TICKET_ID}">
    <div class="card ">
        <div class="card-header ">
            <div>
                <h4>Description: </h4>
            </div>
            <div class="bg-white text-dark p-4">
                <h6>{TICKET_DESCRIPTION}</h6>
            </div>
        </div>

        <div class="card-header">
            <div>
                <h4>Last Intervention: </h4>
            </div>
            <div>
                {LAST_INTERVENTION}
            </div>
            <div class="float-right">
                <a class="btn btn-primary  btn-sm " data-toggle="modal" data-target="#exampleModal{TICKET_ID}"
                    title="User Interventions" data-content="data-content" href=""><i
                        class="fas fa-history "></i><sup><i class="fas fa-users"></i></sup></a>
                <a class="btn btn-info  btn-sm " data-toggle="popover" title="Ticket Details"
                    data-content="data-content" href="index.php?action=ticketdetails&ticket_id={TICKET_ID}"><i
                        class="fas fa-ellipsis-h"></i></a>
                <a class="btn btn-primary btn-sm " href="index.php?action=closeticket&ticket_id={TICKET_ID}"
                    style="color: white;" data-toggle="popover" title="Close this Ticket" data-content="data-content"
                    onclick="return(confirm('Etes-vous sûr de vouloir fermer ce ticket?'));"><i
                        class="fas fa-window-close"></i></a>
            </div>
        </div>
    </div>
    <!-- END TICKET CODE -->
</div>