<!-- Topbar -->
<nav
        class="navbar navbar-expand navbar-light bg-white topbar mb-1 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>


    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">




        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Login -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link active" href="index.php?action=login">Login</a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - Register -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link active" href="index.php?action=register">Register</a>
            </li>

        </ul>

    </ul>

</nav>
<!-- End of Topbar -->

