<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


    <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.php">
            <div class="sidebar-brand-text ">ULTRA MANAGER</div>
        </a>
    </li>

    <!-- Divider -->
    <li>
        <div class="sidebar-divider my-0"></div>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="../index.php">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {{ profile.Firstname() }} {{ profile.Lastname() }}
    </div>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=mygroups">
            <i class="fas fa-user-friends"></i>
            Groups</a>
    </li>

    <!-- Nav Item - Tickets Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=mytickets">
            <i class="fas fa-ticket-alt"></i>
            Tickets</a>
    </li>


    <!-- Nav Item - Tickets Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=myinterventions">
            <i class="fas fa-fw fa-wrench"></i>
            Interventions</a>
    </li>

    <li>
        <!-- Divider -->
        <span class="sidebar-divider"></span>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        SHARED
    </div>


    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=sharedgroups">
            <i class="fas fa-share-alt"></i>
            Groups</a>
    </li>


    <!-- Divider -->
    <li class="nav-item">
        <hr class="sidebar-divider">
        <a class="nav-link" href="index.php?action=invitations">
            <i class="fas fa-sign-in-alt"></i>
            <span>Invitations</span></a>
    </li>


    <br>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->