<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->

    <div class="alert alert-danger m-3 mt-5 center" role="alert">
        <b>CURRENTLY UNDER HEAVY DEVELOPMENT</b>
    </div>

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.php">
        <div class="sidebar-brand-text ">POWER MANAGER</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="../index.php">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        GLOBAL
    </div>


    <!-- Nav Item - GLOBAL Groups -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=globalgroups">
            <i class="fas fa-globe"></i>
            <span>Groups</span></a>
    </li>


    <!-- Nav Item - GLOBAL Tickets -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=globaltickets">
            <i class="fas fa-globe"></i>
            <span>Tickets</span></a>
    </li>


    <!-- Nav Item - GLOBAL Interventions -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=globalinterventions">
            <i class="fas fa-globe"></i>
            <span>Interventions</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        PRIVATE
    </div>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=mygroups">
            <i class="fas fa-user-friends"></i>
            Groups</a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGroups" aria-expanded="true"
            aria-controls="collapseGroups">
            <i class="fas fa-user-friends"></i>
            <span>Groups</span>
        </a>
        <div id="collapseGroups" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">My Groups:</h6>
                <a class="collapse-item" href="../index.php?action=mygroups">Groups</a>
                <a class="collapse-item" href="../index.php?action=mygroupmembers">Group Members</a>
                <a class="collapse-item" href="../index.php?action=mymemberdetails">Member Details</a>
            </div>
        </div>
    </li>
    -->

    <!-- Nav Item - Tickets Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=tickets">
            <i class="fas fa-ticket-alt"></i>
            Tickets</a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTickets"
           aria-expanded="true" aria-controls="collapseTickets">
            <i class="fas fa-ticket-alt"></i>
            <span>Tickets</span>
        </a>
        <div id="collapseTickets" class="collapse" aria-labelledby="headingTickets" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">My Tickets:</h6>
                <a class="collapse-item" href="../index.php?action=tickets">Tickets</a>
                <a class="collapse-item" href="../index.php?action=ticketdetails">Ticket Details</a>
            </div>
        </div>
    </li>
    -->

    <!-- Nav Item - Tickets Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=interventions">
            <i class="fas fa-fw fa-wrench"></i>
            Interventions</a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInterventions"
           aria-expanded="true" aria-controls="collapseInterventions">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Interventions</span>
        </a>
        <div id="collapseInterventions" class="collapse" aria-labelledby="headingTickets"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">My Interventions</h6>
                <a class="collapse-item" href="../index.php?action=interventions">Interventions</a>
                <a class="collapse-item" href="../index.php?action=interventiondetails">Intervention Details</a>
            </div>
        </div>
    </li>
    -->


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        SHARED
    </div>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSharedGroups"
           aria-expanded="true" aria-controls="collapseSharedGroups">
            <i class="fas fa-share-alt"></i>
            <span>Shared Groups</span>
        </a>
        <div id="collapseSharedGroups" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Shared Groups:</h6>
                <a class="collapse-item" href="../index.php?action=sharedgroups">Groups</a>
                <a class="collapse-item" href="../index.php?action=sharedgroupmembers">Group Members</a>
                <a class="collapse-item" href="../index.php?action=sharedmemberdetails">Member Details</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Tickets Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSharedTickets"
           aria-expanded="true" aria-controls="collapseSharedTickets">
            <i class="fas fa-share-alt"></i>
            <span>Tickets</span>
        </a>
        <div id="collapseSharedTickets" class="collapse" aria-labelledby="headingTickets"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Shared Tickets:</h6>
                <a class="collapse-item" href="../index.php?action=sharedtickets">Tickets</a>
                <a class="collapse-item" href="../index.php?action=sharedticketdetails">Ticket Details</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Tickets Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSharedInterventions"
           aria-expanded="true" aria-controls="collapseSharedInterventions">
            <i class="fas fa-share-alt"></i>
            <span>Interventions</span>
        </a>
        <div id="collapseSharedInterventions" class="collapse" aria-labelledby="headingTickets"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Shared Interventions</h6>
                <a class="collapse-item" href="../index.php?action=sharedinterventions">Interventions</a>
                <a class="collapse-item" href="../index.php?action=sharedinterventiondetails">Intervention Details</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <li class="nav-item">
        <a class="nav-link" href="index.php?action=invitations">
            <i class="fas fa-sign-in-alt"></i>
            <span>Invitations<sup>&nbsp;<b>(0)(0)</b></sup></span></a>
    </li>

    <br>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->