<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->

    <div class="alert alert-danger m-3 mt-5 center" role="alert">
        <b>CURRENTLY UNDER HEAVY DEVELOPMENT</b>
    </div>

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.php">
        <div class="sidebar-brand-text ">POWER MANAGER</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="../index.php">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        PRIVATE
    </div>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=mygroups">
            <i class="fas fa-user-friends"></i>
            Groups</a>
    </li>

    <!-- Nav Item - Tickets Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=mytickets">
            <i class="fas fa-ticket-alt"></i>
            Tickets</a>
    </li>


    <!-- Nav Item - Tickets Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=myinterventions">
            <i class="fas fa-fw fa-wrench"></i>
            Interventions</a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        SHARED
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - Pages Collapse Menu -->


    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=sharedgroups">
            <i class="fas fa-share-alt"></i>
            Groups</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=sharedtickets">
            <i class="fas fa-share-alt"></i>
            Tickets</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=sharedinterventions">
            <i class="fas fa-share-alt"></i>
            Interventions</a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        GLOBAL
    </div>


    <!-- Nav Item - GLOBAL Groups -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=globalgroups">
            <i class="fas fa-globe"></i>
            <span>Groups</span></a>
    </li>


    <!-- Nav Item - GLOBAL Tickets -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=globaltickets">
            <i class="fas fa-globe"></i>
            <span>Tickets</span></a>
    </li>


    <!-- Nav Item - GLOBAL Interventions -->
    <li class="nav-item">
        <a class="nav-link" href="../index.php?action=globalinterventions">
            <i class="fas fa-globe"></i>
            <span>Interventions</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="index.php?action=invitations">
            <i class="fas fa-sign-in-alt"></i>
            <span>Invitations</span></a>
    </li>




    <br>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>



</ul>
<!-- End of Sidebar -->