<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <!-- Begin Page Content -->

        <!-- ___________________________________________ -->
        <!-- ___________________________________________ -->
        <!-- ___________________________________________ -->

        <div class="col-lg-12">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <h6 class="m-0 font-weight-bold text-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                                class="fas fa-ticket-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>{TICKET_TITLE}</b></h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-10  center">

                        </div>
                        <div class="col-lg-1 row center">
                        </div>
                        <div class="col-lg-1 row center">
                        </div>
                    </div>
                    <hr>
                    <!-- TICKET AREA -->
                    <div class="col-md-12 ">
                        <div class="border">
                            <div class="row">
                                <div class="col-md-4"> Group ID:</div>
                                <div> {GROUP_ID}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"> Group Name:</div>
                                <div> {GROUP_NAME}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"> Group Admin:</div>
                                <div> {GROUP_ADMIN}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"> Shared with <b>{GROUP_MEMBERS_COUNT}</b> users. <a
                                        href="index.php?action=groupmembers&group_name={GROUP_NAME}">See Members...</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4"> Author:</div>
                            <div> {TICKET_AUTHOR}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"> Requester:</div>
                            <div> {REQUESTER}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"> Status:</div>
                            <div> {TICKET_STATUS}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"> Creation Date:</div>
                            <div> {CREATION_DATE}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4"> Description:</div>
                            <div class="block border p-1"><span>{DESCRIPTION}</span></div>
                        </div>
                    </div>
                    <hr>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
</div>

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <!-- Begin Page Content -->

        <!-- ___________________________________________ -->
        <!-- ___________________________________________ -->
        <!-- ___________________________________________ -->

        <div class="col-lg-12">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <h6 class="m-0 font-weight-bold text-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                                class="fas fa-ticket-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Interventions</h6>
                    </div>
                </div>
                <div class="card-body">


                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-plus-square"></i>&nbsp;Create New Intervention
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <!-- NEW INTERVENTION AREA-->
                            <div class="modal-body">
                                <div class="card-header">
                                    <div class="div_add_form mb-5">
                                        <form action="index.php?action=createticketfunction" method="post"
                                            class="form-example">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <input type="hidden" id="TicketId" name="TicketId" value="{TICKET_ID}">
                                                        <th class="w-25"> <label>INTERVENTION DESCRIPTION: </label></th>
                                                        <td>
                                                            <div class="input_text"><textarea style="height:250px;"
                                                                    class="w-100 p-1 " id="textarea_id"
                                                                    name="Description"></textarea></div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <div class="form-example text-right">
                                                <input type="submit" class="btn btn-primary m-3" value="Create Intervention">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    {INTERVENTION_LIST}


                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
</div>