<div class="row  hover_bg_grey p-1">
    <div class="hover_bg_highlight">
        Group Admin: {GROUP_ADMIN}&nbsp&nbsp
    </div>
    <div class="hover_bg_highlight">
        Group ID: {GROUP_ID}&nbsp&nbsp
    </div>

    <div class="hover_bg_highlight">
        Group Name: {GROUP_NAME}&nbsp&nbsp
    </div>
    <div class="hover_bg_highlight">
        Group Description: {GROUP_DESCRIPTION}&nbsp&nbsp
    </div>
    <div>
        <button type="button" class="btn btn-primary btn-sm">Members</button>
    </div>
</div>