{% extends "_layout.html.twig" %}


{% block topbar %}

    {{ include('/backend/user_topbar.html.twig') }}
{% endblock %}

{% block body %}



    <div class="card shadow m-1">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            Private
        </div>
        <div class="card-body">
            <div class=" row w-100">

            </div>

        </div>
        <div class="row w-100">
            <div class="m-auto card shadow width-500">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="m-0 font-weight-bold text-primary">My Tickets this month:</div>
                </div>
                <div class="card-body">
                    <div class="">
                        <canvas id="opentickets01"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                    </div>
                </div>
            </div>
            <div class="m-auto card shadow width-500">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="m-0 font-weight-bold text-primary">My Interventions this month:</div>
                </div>
                <div class="card-body">
                    <div class="">
                        <canvas id="openinterventions01"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}