{% extends "_layout.html.twig" %}


{% block topbar %}
    {{ include('/backend/user_topbar.html') }}
{% endblock %}

{% block body %}
    <div class="card m-1">
        <div class="card-header">
            <h6>GLOBAL GROUPS</h6>
        </div>
        <div class="card-body">
            {% for group in groups %}
                - {{ group.group_name }}
            {% endfor %}
        </div>
    </div>
{% endblock %}