{% extends "_layout.html.twig" %}


{% block topbar %}
    <h1>Bonjour</h1>
    {{ include('/backend/user_topbar.html') }}
{% endblock %}

{% block body %}
    {% for group in groups %}
        {{ loop.index }} - {{ group.group_admin }}
    {% endfor %}
{% endblock %}