{% extends "_layout.html.twig" %}


{% block topbar %}
    {{ include('/backend/public_topbar.html') }}
{% endblock %}

{% block body %}

    <div class="container h-50">
        <div class="row h-100 justify-content-center align-items-center">
            <span class="fa-4x "><span class="badge badge-info">POWER MANAGER</span> + <i class="fas fa-brain"></i> + <i
                        class="fas fa-ticket-alt"></i> = <i class="fas fa-thumbs-up"></i></span>
        </div>

    </div>



{% endblock %}
