{% extends "_layout.html.twig" %}


{% block topbar %}
    {{ include('/backend/public_topbar.html') }}
{% endblock %}

{% block body %}
    <div class="container bg-secondary h-50">

    </div>

    <div class="container bg-gradient-light  h-25 w-100">
        <div class="row h-25 ">
            <div class="col-sm bg-gradient-primary">
                One of three columns
            </div>
            <div class="col-sm bg-gradient-light">
                One of three columns
            </div>
            <div class="col-sm bg-gradient-danger">
                One of three columns
            </div>
            <div class="col-sm bg-gradient-dark">
                One of three columns
            </div>
            <div class="col-sm bg-gradient-success">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>

    <div class="container bg-gradient-light h-50 ">
        <div class="row">
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>

    <div class="container bg-secondary h-50">

    </div>




{% endblock %}
