{% extends "_layout.html.twig" %}

{% block topbar %}
    {{ include('/backend/public_topbar.html') }}
{% endblock %}

{% block body %}
<h2>Tickets</h2>
<p>Nombre Ticket: {{ data.ticket }} </p>
{% endblock %}
